$primary: #06121E;
$darker-primary: #040F1A;
$lighter-primary: #0C2135;

$secondary: #090D11;
$darker-secondary: #06090C;
$lighter-secndary: #1A1F25;

$black: #232224;
$darker-black: #161617;
$lighter-black: #353436;

$white: #FFFFFF;
$darker-white: #EDEAEF;
$lighter-white: #FEFBFF;

$red: #D94140;
$darker-red: #B42B2B;
$lighter-red: #D34040;