header{
    width: 100;
}

.header-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

i{
    color: $white;
}

.header-icons{
    display: flex;
    gap: 1rem;
}

.header-icons a:hover{
    i{
        animation: translateY 0.8s infinite alternate;
        color: $lighter-red;
    }
}

@keyframes translateY{
    from{
        transform: translateY(0) scale(1);
    }
    to{
        transform: translateY(-0.5rem) scale(1.1);
    }
}

.header-button{
    border: 1px solid $white;
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
    background-color: transparent;
    color: $white;
    font-weight: 700;
    transition: background-color 0.8s;
}

.header-button:hover{
    border: 1px solid $lighter-red;
    background-color: $lighter-red;
}

.header-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

@media screen and (max-width: 48rem) {

    .header-content{
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        i{
            margin-top: 1rem;
            font-size: 2rem;
        }
    }

    .header-logo img{
        width: 10rem;
        margin-top: 3rem;
    }

    .header-button{
        display: none;
    }
}